.wrapper {
  background-color: var(--primary);
  padding: 0px 15px;
}
.footer_content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
}
.footer_content > section {
  margin: 20px 0px;
}
/* 1st section */
.footer_logo img {
  width: auto;
  height: 80px;
}
.footer_logo p {
  color: var(--white);
  padding: 30px 0px;
}
.footer_call {
  display: flex;
  padding-bottom: 30px;
}
.footer_call svg {
  font-size: 30px;
  display: flex;
  background-color: var(--white);
  color: var(--black);
  border-radius: 2px
}
.footer_call a {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
.social_medias {
  width: 60%;
}
.menu_icons {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}
.menu_icons svg {
  background-color: var(--white);
  border-radius: 5px;
  font-size: 30px;
  color: var(--black);
  padding: 3px 3px;
}
/* 2nd section */
.footer_navbar{
  margin-right: 80px;
width : 100%;
place-items: center;
padding-top: 30px;

}
.footer_navbar h5 {
  color: var(--secondary);
}
.footer_navbar ul {

  margin-top: 20px;
  column-count: 2;
}
.footer_navbar li {
  gap: 2%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.footer_navbar li a {
  color: var(--white);
}

/* 3rd section */
.footer_subscribe {
  color: var(--secondary);
  padding-top: 30px;
}
.footer_subscribe h5 {
  color: var(--yellow);
}
.footer_subscribe p {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.footer_subscribe input {
  padding: 15px 0px;
  width: 100%;
  padding-left: 15px;
  font-size: var(--step--1);
  border-radius: 5px;
  border: none;
}
.button_btn {
  margin: 20px 0px;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  font-size: var(--step-1);
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.copy_rights {
  border-top: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2% 0%;
}
.copy_rights p {
  letter-spacing: 1.8px;
  color: var(--white);
  display: flex;
}
.copy_rights p a {
  color: var(--secondary);
}

@media (max-width: 700px) {
  .footer_content {
    grid-template-columns: 100%;
  }
  .footer_content > section {
    margin: 15px 0px;
  }
  .footer_navbar {
    width: 100%;
    padding: 0px;
place-items: baseline;
  }
  .footer_navbar h5 {
    padding: 0px;
  }
  .footer_navbar li {
    padding: 5px 0px;
  }
  .footer_subscribe {
    padding: 0px;
  }
  .footer_subscribe p {
    padding: 0px;
  }
  .copy_rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copy_rights p {
    font-size: var(--step--1);
    padding: 4px 0px;
  }
}
